
body {
    font-family: Arial, sans-serif;
    background-color: #f82121;
}

h2 {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

fieldset {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
    color: white;
}